.el-drawer {
  outline: none;
}

.el-drawer__header {
  position: relative;
  margin-bottom: 16px;
  padding: 0 24px;

  & > :first-child {
    line-height: 48px;
    color: #333;
    font-weight: 600;
    outline: none;
    box-shadow: inset 0 -1px 0 #DDD;
  }

  .el-drawer__close-btn {
    position: absolute;
    right: 24px;
    top: (48px - 16px) / 2;
    font-size: 0; // 消除内嵌 iconfont 的 inline-block 元素 i 标签带来的高度不匹配
  }

  .el-dialog__close {
    font-size: 16px;
  }
}

// TODO
// 自定义内部元素，之后考虑当做独立组件发布
.sd-drawer__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sd-drawer__content {
  flex: 1;
  padding: 0 24px;
  overflow-y: auto;
}

.sd-drawer__footer {
  position: relative;
  padding: 16px 24px;
  height: 32px;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .16);

  &.align--center {
    text-align: center;
  }
}

.sd-drawer__footer--left {
  float: left;
}

.sd-drawer__footer--right {
  float: right;
}

.el-drawer__body {
  overflow: hidden;
}
