.el-input__inner,
.el-textarea__inner {
  font-size: 12px;
  color: #333;
  border-color: #DDD;

  &:hover {
    border-color: $hover;
  }

  &:focus {
    border-color: $blue;
  }
}

.el-input__inner {
  padding: 0 7px;
  height: 32px;
  line-height: 32px;
}

.el-textarea__inner {
  padding: 6px 7px;
  height: 72px;
}

.el-input__suffix {
  right: 4px;
}

.el-input__icon {
  width: 24px;
  line-height: 32px;
}

.el-input-group__prepend {
  padding: 0 8px;
  color: #CCC;
  border-color: #DDD;
  background: #FAFAFA;
}

.el-input.is-disabled .el-input__inner {
  background-color: #EEE;
  border-color: #DDD;
  color: #CCC;
}
