// Element 2.15.6 修改了 Table 的 DOM 结构和样式选择器，导致样式出错。
// 为了兼容老版本，此处采用冗余选择器的方法。

.el-table {
  color: #333;

  .cell {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.5;
    font-size: 12px;
  }

  thead {
    color: #FFF;
  }

  th,
  td,
  .el-table__cell {
    padding: 7px 0;
    vertical-align: top;
  }

  th.is-leaf,
  td,
  th.el-table__cell.is-leaf,
  td.el-table__cell {
    // 2.15.2 修改 DOM 结构，使用后两行
    border-bottom: 1px solid #EEE;
  }

  th,
  th.el-table__cell {
    background: #333;

    // 消除 ElementUI原本的设定
    // .el-table th > .cell { display: inline-block }
    // 带来的底部空白

    // TODO 嵌套 popover时高度不对
    &.is-leaf {
      font-size: 0; // 移除 3px 空白，字号定义在内部 .cell 上
      font-weight: 400;
      border-bottom: none;
    }

    // 2.13.0 加入了 padding-left: 10px ; padding-right: 10px 的默认样式，需要覆盖
    & > .cell {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: 600;
    }
  }
}

// 空内容
.el-table__empty-block {
  padding: 24px 0;
  min-height: auto;
}

.el-table__empty-text {
  line-height: 1.5;
}

.el-table .opt a {
  & + a {
    margin-left: 24px;
  }
}

// expand 模式魔改
.el-table__row .el-table__row--noexpand .el-table__expand-column .cell {
  display: none;
}

.el-table__expand-column .el-table__expand-icon {
  & > .el-icon {
    font-size: 20px;
    position: static;
    left: 0;
    top: 0;
    margin: 0;
  }
}

.el-table .el-table__expanded-cell[class*=cell] {
  padding: 24px;
}

.el-table--enable-row-hover .el-table__body tr {
  &,
  &:hover,
  &.expanded + tr {
    & > td {
      background: #FFF;
    }

    .el-table__expanded-cell {
      background: #FFF!important;
    }
  }

  &.el-table__row--striped {
    &,
    &.expanded + tr {
      & > td {
        background: #FAFAFA;
      }

      .el-table__expanded-cell {
        background: #FAFAFA!important;
      }
    }
  }
}
