.el-tabs__header {
  margin-bottom: 16px;
}

.el-tabs__nav-wrap:after {
  height: 1px;
  color: #DDD;
}

.el-tabs .el-tabs__header .el-tabs__nav {
  .el-tabs__active-bar {
    display: none;
  }

  .el-tabs__item {
    position: relative;
    margin-right: 16px;
    padding: 0;
    height: 32px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #333;

    &.is-active {
      color: $blue;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: $blue;
      }
    }

    &:hover {
      color: $hover;
    }

    &.is-disabled {
      color: $disabled;
      cursor: not-allowed;

      &:hover {
        color: $disabled;
      }
    }
  }
}

// 自定义 tab， class="outter"
.el-tabs.outter > .el-tabs__header .el-tabs__nav {
  .el-tabs__active-bar {
    display: none;
  }

  .el-tabs__item {
    position: relative;
    margin-right: 8px;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    border: 1px solid #DDD;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #EEE;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #DDD;
    }

    &.is-active {
      color: $blue;
      background: #FAFAFA;

      &:after {
        background: transparent;
      }
    }

    &:hover {
      color: $hover;
    }

    &.is-disabled:hover {
      color: $disabled;
    }
  }
}
