.el-tag {
  margin-bottom: 8px;
  padding: 0 8px;
  background: rgba(0, 64, 255, .04);
  border-color: #DDD;
  color: #333;
  font-size: 12px;

  & + .el-tag {
    margin-left: 8px;
  }

  // TODO 普通尺寸定义，此处全是小尺寸
  .el-tag__close {
    margin: 0 -4px 0 4px;
    padding: 1px;
    top: 0; // 重置自带的 position
    right: 0; // 重置自带的 position
    font-family: "sop-icon" !important;
    font-size: 16px;
    color: #FFF;
    background: #A3C6FF;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: none;
    vertical-align: unset;

    &:before {
      content: '\e60a';
    }

    &:hover {
      background: $hover;
    }

    &:active {
      background: $active;
    }
  }

  // 目前仅在 ElSelect 的 collapse-tags 模式见到
  &.el-tag--info {
    margin: 0 0 0 4px;
    padding: 0 4px;
    background: rgba(0, 64, 255, .04);
    border-color: #DDD;
    color: #333;

    .el-tag__close {
      right: -4px;
      font-family: "sd-icon" !important;
      font-size: 16px;
      color: $blue;
      background: none;
      border-radius: 0;

      &:before {
        content: '\e616';
      }

      &:hover {
        color: $blue;
        background: none;
      }
    }
  }
}

.el-select__tags {
  left: 4px;
}


.el-tag--mini {
  margin-bottom: 4px;
  padding: 0 4px;
  height: 18px;
  line-height: 1.5;
  background: #E6F0FF;
  border-radius: 2px;
  border: 0;

  & + .el-tag--mini {
    margin-left: 4px;
  }
}
